.card {
	width: 265px;
	height: 370px;
	border: 13px black solid;
	background-color: white;
	padding: 4px 8px;
}
.card .title {
	font-weight: bold;
}
.card .casting {
	font-weight: bold;
}
.card .image {
	width: 222px;
	height: 163px;
	text-align: center;
	font-size: 60px;
	padding-top: 30px;
	border: 2px black solid;
}
.card .type {
	font-weight: bold;
}
.card .type.small {
	margin-top: 2px;
	font-size: 11px;
}
.card .text {
	width: 222px;
	height: 118px;
	border: 2px black solid;
	padding: 2px;
}
.card .text.small {
	font-size: 11px;
}
.card .text.smaller {
	font-size: 10px;
}
.card .text.smallest {
	font-size: 9px;
}
.card .text .tap {
	width: 11px;
	height: 11px;
	background-image: url(tap.png);
	display: inline-block;
}
.card .number {
	margin-top: 2px;
	font-size: 10px;
}
.card .strength {
	font-weight: bold;
	width: 43px;
	height: 22px;
	border: 2px solid black;
	margin: -10px 10px 0 0;
	background-color: white;
	text-align: center;
}
